
body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/BackGround1\(atlantis\).png');  
    background-size: 100% auto; 
    background-position: top center;
    background-repeat: no-repeat; 
    min-height: 271vh; 
    position: relative;
    
  
}

.main-title{
    padding-top: 75px;
    font-size: 70px;
    font-weight: 150;
    margin-top: 100px ;
    margin-right: 500px ;
    letter-spacing: 5px;

background: linear-gradient(
      to bottom,
      #fff6cc,
      #f7d774,
      #ffffff,
      #fcfcfc,
      #ffffff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow:
      0px 2px 4px #bf9b30,
      0px 0px 10px rgb(240, 219, 29),
      0px 0px 20px rgb(255, 255, 255),
      0px 0px 40px rgb(255, 255, 255);   
      margin-top: 300px;
      font-family: 'cinzel' , serif;
}

.card-title,
.brief-title {
    font-size: 24px;
    margin-top: -5px;
    font-family: 'cinzel', serif;
    background: linear-gradient(
      to bottom,
      #fff6cc,
      #f7d774,
      #ffffff,
      #fcfcfc,
      #ffffff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow:
      0px 2px 4px #bf9b30,
      0px 0px 10px rgb(240, 219, 29),
      0px 0px 20px rgb(255, 255, 255),
      0px 0px 40px rgb(255, 255, 255);
}

.card {
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    color: white;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    position: absolute;
    transition: transform 0.3s ease;
    z-index: 50;
    
}

.card p,
.brief p {
    color: rgba(255, 255, 255, 0.85); 
    font-size: 19px;
    position: relative;
     top: -8px;

}


.card-1 {
    transform: perspective(800px) rotateY(53deg) 
    translateX(-50px);
    right: 900px;
    top: 890px;
    width: 185px;
    height: 250px;
    
    
}
.card-1:hover {
    transform: perspective(800px) rotateY(53deg) translateX(-50px) translateY(-10px);
}



.card-2 {
    transform: perspective(800px) rotateY(-39deg)
    translateX(50px);
    width: 100px;
    height: 200px;
    right: 470px;
    top: 915px;
  
}

.card-2:hover {
    transform: perspective(800px) rotateY(-38deg) translateX(50px) translateY(-10px);
}




.card-3 {
    transform: perspective(800px) rotateY(45deg) 
    translateX(-50px);
    right: 735px;
    top: 915px;
    width: 110px;
    height: 200px;
}

.card-3:hover {
    transform: perspective(800px) rotateY(45deg) translateX(-50px) translateY(-10px);
}





.card-4 {
    transform: perspective(800px) rotateY(-54deg)
    translateX(50px);
    right: 220px;
    top: 885px;
    width: 185px;
    height: 250px;
    
}

.card-4:hover {
    transform: perspective(800px) rotateY(-54deg) translateX(50px) translateY(-10px);
}



.brief {
    right: 310px;
    top: 550px;
    width: 700px;
    height: 150px;
    
}

.Ai-card{
    right: 350px;
    top: 1650px;
    width: 700px;
    height: 150px;
    
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    
}

.popup-content {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    color: white;
    width: 300px;
    text-align: center;
    z-index: 10000;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 10000;
    color: white;
}


.avatar {
    width: 300px;
    animation: float 4s ease-in-out infinite;
    margin-top: 895px;
   margin-right: 3px
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}



.avatar-box {
    position: relative;
    display: inline-block;
}


.bubble-title {
    font-size: 16px;
    font-family: 'cinzel', serif;
     position: relative;
     left: -67px;
     top: -8px;

    background: linear-gradient(
      to bottom,
      #fff6cc,
      #f7d774, 
      #ffffff,
      #fcfcfc,
      #ffffff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     text-shadow:
      0px 2px 4px #bf9b30,
      0px 0px 10px rgb(240, 219, 29),
      0px 0px 20px rgb(255, 255, 255),
      0px 0px 40px rgb(255, 255, 255);
      margin: 0 0 5px;
}

.bubble p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    margin: 0;
    position: relative;
    top: -3px;
}

.bubble {
    position: absolute;
    bottom: 31%;
    right: 200px;
    background: rgba(255, 255, 255, 0.15); 
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 15px;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(205, 227, 230, 0.4); /* لمسة تركواز */
    white-space: nowrap;
    transform: translateY(10px);
    transition: 0.3s;
    pointer-events: auto;

    
}


.bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 20px;
    border-width: 8px;
    border-style: solid;

    border-color: rgba(255, 255, 255, 0.15) transparent transparent transparent;
}

.bubble:hover {
    transform: translate(-20px, -15px) scale(1.05);
    box-shadow: 0 0 15px rgba(135, 183, 238, 0.7);

}


.back-btn {
  padding: 12px 24px;
  border-radius: 50px;
  background: linear-gradient(135deg, #0A2540, #D4AF37);
  color: white;
  border: 2px solid #E8B923;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.6);
  transition: all 0.3s ease;
  margin-right: 1220px;
  margin-top: 20px;
}

.back-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(220, 240, 238, 0.8);
  background: linear-gradient(135deg, #ebf1b6, #D4AF37);
}

.back-btn::before {
  font-size: 22px;
}

.ai-reader {
    display: inline-block;
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 30px;
    position: relative;
    top: -200px;  
    right: 330px;
}

.ai-reader:hover {
    transform: scale(1.2);

}

